*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
  background: rgb(179, 245, 255);
}

img {
  display: block;
  max-width: 100%;
}
